mixin recordCard(record = {})
	.record
		.record__hero
			.record__actions
				button soon
			img(src=`/uploads/${record.photo || 'record.jpg'}`)
			p.artist Artist: #{record.artist}
			p.title Title: 
				a(href=`/records/${record.slug}`) #{record.title}
			p.shelf Shelf: #{record.shelf}
			p.format Format: #{record.format[0]}