mixin recordCard(record = {})
	.record
		pre= h.dump(record)
		.record__hero
			.record__actions
				if user && record.author.equals(user._id)
					.record__action.record__action--edit
						a(href=`/records/${record._id}/edit`)
							!= h.icon('pencil')
			img(src=`/uploads/${record.cover || 'record.jpg'}`)
			p.artist Artist: #{record.artist}
			p.title Title: 
				a(href=`/records/${record.slug}`) #{record.title}
			p.shelf Shelf: #{record.shelf}
			p.format Format: #{record.format[0]}