extends layout

block content
	.single
		//- pre=h.dump(album.tracks)
		.single__hero
			img.single__image(src=`/uploads/${record.cover || 'record.jpg'}`)
			p.artist Artist: #{record.artist}
			p.single__title Title: #{record.title}
			a.single__shelf(href=`/shelves/${record.shelf}`) 
				span.shelf__text Shelf: #{record.shelf}
			p.single__format Format: #{record.format}
			.tracks
				if album
					each t in album.tracks.track
						.track
							span.number #{t['@attr'].rank}. 
							span.name #{t.name}  
							//- span.duration (#{t.duration})
				else
					.track (tracklist unavailable)